@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f0d64c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
  z-index: 999;
}

#preloader-container {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
}

#preloader-container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}

#preloader-container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}

#preloader-container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

.container-fluid {
  width: 100vw;
  max-width: 1920px;
  height: 80vh;
  max-height: 1080px;
}

.background-row {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url("../images/background.png");
  background-color: #fff; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center;
  background-size: cover;
  width: 100vw;
  max-width: 1920px;
  height: 80vh;
  max-height: 1080px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  position: absolute;
  top: 0;
  margin-top: 4vw;

  width: 100%;
  max-width: 1920px;

  justify-self: flex-start;
  align-content: space-between;

  font-size: 16px;
}

.navbar section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button-navbar {
  margin: 0 100px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2.5px solid #e4c516;
  transition: 0.15s;
}

.button-navbar:hover {
  color: #e4c516;
}

.logo {
  margin-bottom: 10vh;
  width: 50%;
}

.about-us {
  margin-top: 10vh;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card {
  background-color: #dcd8d4;
  width: 80%;

  padding: 30px;
}

.about-title {
  text-align: center;
}

.about-description {
  margin-top: 2vh;
  font-size: 0.9em;
  width: 50%;
}

.about-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold-image {
  margin-top: 1vh;
  font-size: 1.5rem;
  font-weight: 500;
}

.about-josy {
  width: 50%;
}

.col-title-service {
  margin: 15vh 0 2vh;
}

.title-service {
  text-align: center;
}

.row-service>* {
  padding-right: calc(var(--bs-gutter-x) * .2) !important;
  padding-left: calc(var(--bs-gutter-x) * .2) !important;
  padding-bottom: calc(var(--bs-gutter-x) * .2) !important;
  padding-top: calc(var(--bs-gutter-x) * .2) !important;
}

.col-service {
}

.logo-service {
  width: 100%;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .button-navbar {
    margin: 0 0;
  }

  .about-josy {
    width: 80%;
  }

  .about-description {
    width: 80%;
  }

  .navbar section {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .bold-image {
    margin-top: 1vh;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .about-card {
    background-color: #dcd8d4;
    width: 70%;
  
    padding: 30px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .button-navbar {
    margin: 0 0;
  }

  .about-josy {
    width: 80%;
  }

  .about-description {
    width: 80%;
  }

  .navbar section {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .about-card {
    background-color: #dcd8d4;
    width: 90%;

    padding: 15px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .logo {
    margin-bottom: 0vh;
    width: 60%;
  }

  .background {
    height: 60vh;
    max-height: 1080px;
  }

  .about-description {
    margin-top: 4vh;
    width: 90%;
  }

  .about-josy {
    width: 90%;
  }
  .about-description {
    width: 90%;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .logo {
    margin-bottom: 0vh;
    width: 80%;
  }

  .about-us {
    margin-top: 10vh;
  }

  .about-card {
    background-color: #dcd8d4;
    width: 100%;

    padding: 10px;
  }
}